#navbarContainer{
    padding: 1em 6.5em;
}

#containerCinqueTerre figcaption{
    top: 87%;

}
#containerDentro>figcaption{
    top: 80%;
}
#textArea h2{
    margin-bottom:20pt;
}


#area{
    margin: 2em 1em;
}